@font-face {
    font-family: 'Space Grotesk';
    src: url('../sources/fonts/SpaceGrotesk-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../sources/fonts/SpaceGrotesk-Medium.ttf') format("truetype");
    font-weight: 500;
}