@import url("./fonts.css");
@import url("./normalize.css");

*::selection{
    background-color: #e6e6e6;
}

*{
    text-decoration: none;
    font-family: Space Grotesk;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/*========================================
                COLORS
==========================================*/

:root{
    --bg-color: #fff;
    --primary-color: #B9FF66;
    --secondary-color: #191A23;
    --terciary-color: #F3F3F3;

    --font-regular: 400;
    --font-normal: 500;

    --header-height-mobile: 100px;


}

/*========================================
            SETTING LAYOUT
==========================================*/

.content{
    display: grid;
    grid-template-areas: 
    "header header header"
    ". main ."
    ". footer .";
    grid-template-columns: 1fr minmax(auto, 1440px) 1fr;
    grid-template-rows: var(--header-height-mobile) auto auto;
    min-height: 100dvh;
    background-color: var(--bg-color);
}

body{
    overflow-x: hidden;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #191a23;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
width: var(--sb-size)
}

body::-webkit-scrollbar-track {
background: var(--sb-track-color);
border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
background: var(--sb-thumb-color);
border-radius: 10px;
border: 2px solid #ffffff;
}

@supports not selector(::-webkit-scrollbar) {
body {
    scrollbar-color: var(--sb-thumb-color)
                    var(--sb-track-color);
}
}

header{
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 100;
    grid-column: 2;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--secondary-color);
}

main{
    grid-area: main;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

footer{
    grid-area: footer;
}


/*========================================
            LOGO COLORS SETTING
==========================================*/

.logo__link__box a{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: var(--font-normal);
}

.logo__link__box a span{
    font-size: 2rem;
}

.logo__link__box.black__logo a svg path,
.logo__link__box.black__logo a{
    color: var(--secondary-color);
    fill: var(--secondary-color);
}

.logo__link__box.white__logo a svg path,
.logo__link__box.white__logo a{
    color: var(--bg-color);
    fill: var(--bg-color);
}

.logo__link__box.white__logo a svg {
    width: 30px;
    height: 30px;
}
/*========================================
            BUTTON BASES SETTING
==========================================*/

.bases__style__button{
    padding: 0 20px;
    min-height: 3.1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
}

.bases__style__button.white__button{
    background-color: var(--bg-color);
    color: var(--secondary-color);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    max-width: fit-content;
}

.bases__style__button.black__button{
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    max-width: fit-content;
}

.bases__style__button.green__button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
    max-width: fit-content;
}

.bases__style__button.white__button:hover{
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.bases__style__button.black__button:hover{
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

.bases__style__button.green__button:hover{
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

/*========================================
                HEADER
==========================================*/

header .header__content__container{
    width: 100%;
    max-width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    z-index: 20;
    container: header__content__container / inline-size;
}

header .header__content__container .logo__link__box{
    z-index: 101;
}

header .header__content__container .logo__link__box a svg{
    width: 25px;
    height: 25px;
}

header .header__content__container .logo__link__box a span{
    font-size: 1.5rem;
}

header .header__content__container .open__menu__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    outline: 1px solid transparent;
    transition: outline .2s ease-in-out;
    border-radius: 10px;
    z-index: 100;
    position: relative;
}

header .header__content__container .open__menu__button:active{
    outline: 1px solid var(--secondary-color);
}

header .header__content__container .open__menu__button span{
    width: 1.8rem;
    height: 2px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out, top .5s ease-in-out, bottom .5s ease-in-out;
    position: absolute;
}

header .header__content__container .open__menu__button span:nth-child(1){
    top: 10px;
}

header .header__content__container .open__menu__button span:nth-child(3){
    bottom: 10px;
}

header .header__content__container .navigation{
    display: flex;
    position: fixed;
    padding: 110px 1.5rem;
    left: 100%;
    top: 0;
    height: 100dvh;
    background-color: var(--bg-color);
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    transition: left .5s ease-in-out,box-shadow .5s ease-in-out;
    z-index: 100;
    box-shadow: -34px 0px 70px -2px rgba(0, 0, 0, 0);
}

header .header__content__container .navigation.open{
    left: 0;
    box-shadow: -34px 0px 70px -2px rgba(0,0,0,0.39);
}

header .header__content__container .navigation .bases__style__button{
    width: 80%;
    max-width: initial;
}

header .header__content__container .navigation .navigation__box .navigation__box__items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header .header__content__container .navigation .navigation__box .navigation__box__items .navigation__item{
    padding: 10px;
}

header .header__content__container .navigation .navigation__box .navigation__box__items .navigation__item a{
    color: var(--secondary-color);
    font-size: 1.5rem;
    position: relative;
}

header .header__content__container .navigation .navigation__box .navigation__box__items .navigation__item a::before{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transition: width .3s ease-in-out;
}

header .header__content__container .navigation .navigation__box .navigation__box__items .navigation__item a:hover::before{
    width: 100%;
}

.navigation.open ~ .open__menu__button span:nth-child(1){
    top: 20px;
    transform: rotate(45deg);
}

.navigation.open ~ .open__menu__button span:nth-child(2){
    opacity: 0;
}

.navigation.open ~ .open__menu__button span:nth-child(3){
    bottom: 18px;
    transform: rotate(-45deg);
}

@container header__content__container (min-width: 940px){
    header .header__content__container .open__menu__button{
        display: none;
    }

    header .header__content__container .navigation{
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1.5rem;
        left: initial;
        top: initial;
        height: initial;
        background-color: transparent;
        width: fit-content;
        box-shadow: -34px 0px 70px -2px rgba(0, 0, 0, 0) !important;
    }
    
    header .header__content__container .navigation .bases__style__button{
        width: fit-content;
    }

    header .header__content__container .navigation .navigation__box{
        height: min-content;
    }
    
    header .header__content__container .navigation .navigation__box .navigation__box__items{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    header .header__content__container .navigation .navigation__box .navigation__box__items .navigation__item{
        padding: 10px;
    }
    
    header .header__content__container .navigation .navigation__box .navigation__box__items .navigation__item a{
        color: var(--secondary-color);
        font-size: 1rem;
    }

}

/*========================================
                    MAIN
==========================================*/

/*========================================
            HEADERS ARTICLES SETTINGS
==========================================*/

.section__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
    gap: 1.5rem;
    width: 100%;
}

.section__header .section__header__title{
    background-color: var(--primary-color);
    padding: .3rem .7rem;
    border-radius: 7px;
    font-weight: var(--font-regular);
    font-size: 2rem;
    text-wrap: balance;
    text-align: center;
}

.section__header__text{
    text-align: center;
    text-wrap: pretty;
}

/*========================================
                    MAIN
==========================================*/


main .main__content__container{
    container: home__container / inline-size;
}

main .main__content__container .home__container{
    padding: 1.5rem 1.5rem;
    height: calc(100dvh - var(--header-height-mobile));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto auto auto;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    width: 100%;
}

main .main__content__container .home__container h1{
    margin: 0;
    font-size: 3rem;
}

main .main__content__container .home__container p{
    text-wrap: pretty;
}

main .main__content__container .home__container button{
    max-width: none;
    width: 100%;
}

main .main__content__container .home__container .home__illustration{
    width: 100%;
    height: 70%;
    grid-area: 2;
    transform: scale(1.1);
}

@container home__container (min-width: 900px){
    main .main__content__container .home__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: initial;
        padding: 0;
        margin: 0 1.5rem;
        max-height: 50rem;
    }
    main .main__content__container .home__container h1{
        font-size: 4.5rem;
        align-self: flex-end;
    }
    main .main__content__container .home__container p{
        font-size: 1.3rem;
    }
    main .main__content__container .home__container button{
        align-self: flex-start;
    }
    main .main__content__container .home__container .home__illustration{
        grid-row: 1/span 3;
        grid-column: 2;
        transform: scale(1);
        padding-right: 2rem;
    }
    .section__header{
        flex-direction: row;
        gap: 2rem;
        justify-content: start;
    }
    
    .section__header__text{
        text-align: start;
        text-wrap: pretty;
        max-width: 650px;
    }
}

/*========================================
            BRANDS CONTAINER
==========================================*/

main .main__content__container .brands__container{
    padding: 3rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
    grid-auto-rows: 30px;
    align-items: center;
    justify-items: center;
    gap: 10px;
    container: brands__container / inline-size;
}

main .main__content__container .brands__container .brands__item{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .main__content__container .brands__container .brands__item svg{
    width: 70px;
    height: min-content;
}

main .main__content__container .brands__container .brands__item svg:hover .brand__color__change,
main .main__content__container .brands__container .brands__item svg.brand__color__change:hover{
    fill: var(--primary-color);
}

@container  (min-width: 700px){
    main .main__content__container .brands__container .brands__item svg{
        width: 100px;
    }
}

/*========================================
            SERVICES CONTAINER
==========================================*/

main .main__content__container .services__container{
    padding: 5rem 1.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    container: services__wrapper / inline-size;
}

main .main__content__container .services__container .services__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

main .main__content__container .services__container .services__wrapper .card__services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px 150px;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    border: 1px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    border-radius: 50px;
    container: services__card / inline-size;
}

main .main__content__container .services__container .services__wrapper .card__services img{
    width: 80%;
}

main .main__content__container .services__container .services__wrapper .card__services .bases__stlye__highlight{
    grid-column: span 2;
    justify-self: start;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

main .main__content__container .services__container .services__wrapper .card__services .bases__stlye__highlight span{
    padding: .3rem .7rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

main .main__content__container .services__container .services__wrapper .card__services a{
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: flex-end;
    justify-self: start;
}

main .main__content__container .services__container .services__wrapper .card__services a span{
    text-wrap: nowrap;
    display: none;
}

main .main__content__container .services__container .services__wrapper .card__services a span:hover{
    text-decoration: underline;
}

main .main__content__container .services__container .services__wrapper .card__services a .learnMore__box__icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

main .main__content__container .services__container .services__wrapper .card__services a .learnMore__box__icon::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: top .2s ease-in-out, left .2s ease-in-out;
}

main .main__content__container .services__container .services__wrapper .card__services a .learnMore__box__icon svg{
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main .main__content__container .services__container .services__wrapper .card__services a:hover .learnMore__box__icon::before,
main .main__content__container .services__container .services__wrapper .card__services a:active .learnMore__box__icon::before{
    top: 0;
    left: 0;
    transform: translate(0,0);
}

main .main__content__container .services__container .services__wrapper .card__services a:hover svg path ,
main .main__content__container .services__container .services__wrapper .card__services a:active svg path {
    fill: var(--secondary-color);
}

.gray__card{
    background-color: var(--terciary-color);
}

.black__card{
    background-color: var(--secondary-color);
}

.green__card{
    background-color: var(--primary-color);
}

.gray__card .bases__stlye__highlight span{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.black__card .bases__stlye__highlight span{
    background-color: var(--terciary-color);
    color: var(--secondary-color);
}

.green__card .bases__stlye__highlight span{
    background-color: var(--terciary-color);
    color: var(--secondary-color);
}

.gray__card a .learnMore__box__icon{
    background-color: var(--secondary-color);
}

.black__card a .learnMore__box__icon{
    background-color: var(--terciary-color);
}

.green__card a .learnMore__box__icon{
    background-color: var(--secondary-color);
}

.gray__card a span{
    color: var(--secondary-color);
}
.black__card a span{
    color: var(--terciary-color);
}
.green__card a span{
    color: var(--secondary-color);
}

.gray__card a .learnMore__box__icon svg path{
    fill: var(--primary-color);
}
.black__card a .learnMore__box__icon svg path{
    fill: var(--secondary-color);
}
.green__card a .learnMore__box__icon svg path{
    fill: var(--primary-color);
}

main .main__content__container .services__container .services__wrapper .gray__card .learnMore__box__icon::before{
    background-color: var(--primary-color);
}

main .main__content__container .services__container .services__wrapper .black__card .learnMore__box__icon::before{
    background-color: var(--primary-color);
}

main .main__content__container .services__container .services__wrapper .green__card .learnMore__box__icon::before{
    background-color: var(--terciary-color);
}

main .main__content__container .services__container .services__wrapper .freePropousal__container{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--terciary-color);
    border-radius: 50px;
    padding: 2rem;
    grid-column: 1 span;
    margin-top: 3rem;
}

main .main__content__container .services__container .services__wrapper .freePropousal__container .freePropousal__dataBox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    max-width: 350px;
}

main .main__content__container .services__container .services__wrapper .freePropousal__container .freePropousal__dataBox h3{
    font-size: 2rem;
}

main .main__content__container .services__container .services__wrapper .freePropousal__container .freePropousal__dataBox p{
    text-wrap: pretty;
}

main .main__content__container .services__container .services__wrapper .freePropousal__container .freePropousal__dataBox button{
    max-width: 100%;
}

main .main__content__container .services__container .services__wrapper .freePropousal__container svg{
    display: none;
    height: 100%;
    width: 200px;
    justify-self: flex-end;
    transform: scale(1.6);
}

@container services__wrapper (min-width: 730px){
    main .main__content__container .services__container .services__wrapper{
        grid-template-columns: 1fr 1fr;
    }
    main .main__content__container .services__container .services__wrapper .freePropousal__container {
        justify-content: space-around;
        height: 270px;
        grid-column: 2 span;
    }
    main .main__content__container .services__container .services__wrapper .freePropousal__container svg{
        display: block;
        transform: scale(1.6);
    }

    main .main__content__container .services__container .services__wrapper .card__services a span{
        display: block;
    }
}

/*========================================
            CASE CONTAINER
==========================================*/

main .main__content__container .case__container{
    padding: 5rem 0 5rem 1.5rem;
    container: case__container / inline-size;
}

main .main__content__container .case__container .cards__container{
    width: 100%;
}

main .main__content__container .case__container .cards__container__box{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    gap: 1.5rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding-right: 1.5rem;
}

main .main__content__container .case__container .cards__container__box .card__case{
    padding: 3rem;
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 250px;
    width: calc(100vw - 5rem);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    background-color: var(--secondary-color);
    position: relative;
}

main .main__content__container .case__container .cards__container__box .card__case p{
    text-wrap: pretty;
    color: var(--terciary-color);
}

main .main__content__container .case__container .cards__container__box .card__case .cards__case__learnmore__box{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main .main__content__container .case__container .cards__container__box .card__case .cards__case__learnmore__box svg{
    width: 20px;
    height: 20px;
}



@container case__container (min-width: 1100px){
    main .main__content__container .case__container .cards__container__box{
        gap: 0;
        position: relative;
        place-content: center;
    }
    main .main__content__container .case__container .cards__container__box .card__case{
        width: fit-content;
        border-radius: 0;
    }
    main .main__content__container .case__container .cards__container__box .card__case::before{
        content: '';
        position: absolute;
        width: 1px;
        height: 55%;
        background-color: var(--terciary-color);
        top: 50%;
        left: 0;
        border-radius: 10px;
        transform: translate(0,-50%);
    }
    main .main__content__container .case__container .cards__container__box .card__case:first-child{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    main .main__content__container .case__container .cards__container__box .card__case:first-child::before{
        display: none;
    }
    main .main__content__container .case__container .cards__container__box .card__case:last-child{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }   
}

/*========================================
            PROCESS CONTAINER
==========================================*/

main .main__content__container .process__container{
    padding: 5rem 1.5rem;
}

main .main__content__container .process__container .process__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    container: process__flex / inline-size;
}

main .main__content__container .process__container .process__flex .process__step{
    background-color: var(--terciary-color);
    border: 1px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

main .main__content__container .process__container .process__flex .process__step:hover{
    background-color: var(--primary-color);
}

main .main__content__container .process__container .process__flex .process__step.open{
    background-color: var(--primary-color);
}


main .main__content__container .process__container .process__flex .process__step .process__step__title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    user-select: none;
    position: relative;
}

main .main__content__container .process__container .process__flex .process__step .process__step__title::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
    bottom: -1.5rem;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

main .main__content__container .process__container .process__flex .process__step.open .process__step__title::before{
    opacity: 1;
}

main .main__content__container .process__container .process__flex .process__step .process__step__title .process__step__data{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .main__content__container .process__container .process__flex .process__step .process__step__title .process__step__data .title{
    font-size: 1.5rem;
    font-weight: 500;
}

main .main__content__container .process__container .process__flex .process__step .process__step__title .process__step__data .toggle__process__button{
    min-width: 45px;
    min-height: 45px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--terciary-color);
} 

main .main__content__container .process__container .process__flex .process__step .process__step__title .process__step__data .toggle__process__button svg{
    position: absolute;
    width: 27px;
}


main .main__content__container .process__container .process__flex .process__step .process__step__title .number__title{
    font-weight: 500;
    font-size: 3rem;
}

main .main__content__container .process__container .process__flex .process__step .process__step__content{
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

main .main__content__container .process__container .process__flex .process__step .process__step__content p{
    margin-top: 3rem;
    text-wrap: pretty;
}

main .main__content__container .process__container .process__flex .process__step .process__step__title .process__step__data .toggle__process__button svg:first-child{
    transform: rotate(90deg);
    transition: transform .2s ease-in-out;
}

main .main__content__container .process__container .process__flex .process__step.open .process__step__title .process__step__data .toggle__process__button svg:first-child{
    transform: rotate(0);
}

main .main__content__container .process__container .process__flex .process__step.open .process__step__content{
    max-height: 350px;
}

@container process__flex (max-width: 700px){
    main .main__content__container .process__container .process__flex .process__step{
        padding: 1.3rem 2rem;
        border-radius: 3rem;
    }
    main .main__content__container .process__container .process__flex .process__step .process__step__title .number__title{
        font-weight: 500;
        font-size: 2.5rem;
    }
    main .main__content__container .process__container .process__flex .process__step .process__step__title .process__step__data .title{
        font-size: 1rem;
    }
}

/*========================================
             TEAM CONTAINER
==========================================*/


main .main__content__container .team__container{
    padding: 5rem 1.5rem;
}

main .main__content__container .team__container .team__data__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 2rem;
    container: team__data__container / inline-size;
}

main .main__content__container .team__container .team__data__container .team__button__container .bases__style__button{
    padding: 0 5rem;
}

main .main__content__container .team__container .team__data__container .team__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(315px,1fr));
    grid-template-rows: repeat(1,auto 1fr auto);
    gap: 1.5rem;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card{
    background-color: var(--terciary-color);
    border-radius: 50px;
    border: 1px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    display: grid;
    grid-row: span 2;
    grid-template-rows: subgrid;
    padding: 2.5rem;
    gap: 3rem;
    cursor: default;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card:hover .team__member__data .team__member__picture .team__member__picture__box .team__profile__picture{
    transform: scale(1.3);
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__member__title__box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__member__title__box .team__name{
    font-weight: 500;
    font-size: 1.2rem;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__member__title__box .team__linkedin__box{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__member__title__box .team__linkedin__box svg{
    width: 22px;
    height: 22px;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__member__picture{
    width: 110px;
    height: 110px;
    position: relative;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__member__picture .team__member__shadow{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 10px;
    z-index: 5;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__member__picture__box{
    width: 100px;
    height: 100px;
    mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA5OSA5OCI+CiAgPHBhdGggZmlsbD0iIzIzMUYyMCIgZD0iTTg0LjYzMSA0OC45MTJjMzIuODQyIDM3LjQxIDIuNTE0IDY3LjczNy0zNC44OTUgMzQuODk1LTM3LjQxIDMyLjg0Mi02Ny43MzggMi41MTQtMzQuODk1LTM0Ljg5NS0zMi44NDMtMzcuNDEtMi41MTUtNjcuNzM4IDM0Ljg5NS0zNC44OTUgMzcuNDEtMzIuODQzIDY3LjczNy0yLjUxNSAzNC44OTUgMzQuODk1WiIvPgo8L3N2Zz4K');
    z-index: 20;
    position: relative;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__member__picture__box .team__profile__picture{
    filter: grayscale(1);
    transition: transform .2s ease-in-out;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__about{
    position: relative;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__about::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
    top: -1rem;
    left: 0;
}

main .main__content__container .team__container .team__data__container .team__wrapper .team__card .team__member__data .team__profile__picture{
    width: 100px;
    height: 100px;
}

@container team__data__container (max-width: 500px){
    main .main__content__container .team__data__container .team__button__container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .main__content__container .team__data__container .team__button__container .bases__style__button{
        min-width: 100%;
        height: 3rem;
    }
}


/*========================================
            CONTACT US CONTAINER
==========================================*/

main .main__content__container .contactUs__container{
    padding: 5rem 1.5rem;
    container: contactUs__container / inline-size;
}

main .main__content__container .contactUs__container .contactUs__form__container{
    background-color: var(--terciary-color);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 2rem 5rem;
    gap: 2rem;
}

main .main__content__container .contactUs__container .contactUs__form__container form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 500px;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--radio .option__item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--radio .option__item input{
   width: 25px;
   height: 25px;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   border: 1px solid var(--secondary-color);
   border-radius: 50%;
   position: relative;
   cursor: pointer;
   outline: none;
   position: relative;
   background-color: var(#fff);
}

main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--radio .option__item input ~ label{
    cursor: pointer;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--radio .option__item input:checked::before{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .main__content__container .contactUs__container .contactUs__form__container form .form__contact__button{
    max-width: 100%;
}

main .main__content__container .contactUs__container .contactUs__form__container form .form__contact__button a{
    color: var(--terciary-color);
    transition: color .2s ease-in-out;
}

main .main__content__container .contactUs__container .contactUs__form__container form .form__contact__button:hover a{
    color: var(--secondary-color);
}

main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--radio{
    display: flex;
    justify-content: start;
    gap: 3rem;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contact__input{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contact__input label{
    font-size: .9rem;
    font-weight: 500;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contact__input input,
main .main__content__container .contactUs__container .contactUs__form__container form .contact__input textarea{
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    padding: 0 1.5rem;
    font-size: .9rem;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contact__input textarea{
    height: 10rem;
    padding: 1rem 1.5rem;
    resize: none;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--email label,
main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--message label{
    position: relative;
    width: min-content;
}

main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--email label::before,
main .main__content__container .contactUs__container .contactUs__form__container form .contactUs__form__input--message label::before{
    content: '*';
    position: absolute;
    top: 0;
    right: -8px;
    font-weight: 500;
}

@container contactUs__container (max-width: 870px){
    main .main__content__container .contactUs__container .contactUs__form__container{
        padding: 2rem 2rem;
        justify-content: center;
    }

    main .main__content__container .contactUs__container svg{
        display: none;
    }
}

/*========================================
            FOOTER CONTAINER
==========================================*/

footer{
    container: footer / inline-size;
}

footer .footer__content__container{
    height: 100%;
    background-color: var(--secondary-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 2rem 3rem;
    display: grid;
    gap: 2rem;
    grid-template-rows: 60px 150px 60px;
}

footer .footer__content__container .footer__content{
    width: 100%;
    display: flex;
    align-items: center;  
}

footer .footer__content__container .footer__content--positivus,
footer .footer__content__container .footer__content--contact{
    justify-content: space-between;
}

footer .footer__content__container .footer__content--positivus .navigation__box .navigation__box__items{
    display: flex;
    gap: 2rem;
}

footer .footer__content__container .footer__content--positivus .navigation__box .navigation__box__items .navigation__item a{
    color: var(--terciary-color);
    text-decoration: underline;
}

footer .footer__content__container .footer__content--positivus .social__media__container{
    display: flex;
    gap: 2rem;
}

footer .footer__content__container .footer__content--positivus .social__media__container .team__socialMedia__box{
    width: 30px;
    height: 30px;
    background-color: var(--terciary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer__content__container .footer__content--positivus .social__media__container .team__socialMedia__box svg{
    width: 20px;
    height: 20px;
}

footer .footer__content__container .footer__content--contact .footer__contatct__data{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 300px;
}

footer .footer__content__container .footer__content--contact .footer__contatct__data,
footer .footer__content__container .footer__content--contact .footer__contatct__data a{
    color: var(--terciary-color);
}

footer .footer__content__container .footer__content--contact .footer__contatct__data a span{
    text-decoration: underline;
}

footer .footer__content__container .footer__content--contact .footer__contatct__data .contactUs__title{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    width: fit-content;
    padding: .5rem .8rem;
    border-radius: 10px;
    font-size: 1.1rem;
}

footer .footer__content__container .footer__content--contact .footer__contact__form__container{
    background-color: #292A32;
    padding: 2rem;
    border-radius: 1rem;
    height: 100%;
    display: flex;
}

footer .footer__content__container .footer__content--contact .footer__contact__form__container form{
    margin: auto;
    display: flex;
    gap: 1rem;
    max-width: 600px;
}

footer .footer__content__container .footer__content--contact .footer__contact__form__container form input{
    width: 50%;
    height: 4rem;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--terciary-color);
    padding: 0 1rem;
    color: var(--terciary-color);
}

footer .footer__content__container .footer__content--contact .footer__contact__form__container form .bases__style__button{
    height: 4rem;
    padding: 0 2rem;
    width: fit-content;
}

footer .footer__content__container .footer__content--company{
    border-top: 1px solid var(--terciary-color);
    align-items: end;
    gap: 2rem;
}
footer .footer__content__container .footer__content--company span,
footer .footer__content__container .footer__content--company a{
    color: var(--terciary-color);
}

footer .footer__content__container .footer__content--company a{
    text-decoration: underline;
}

@container footer (max-width: 980px){
    footer .footer__content__container{
        height: 100%;
        background-color: var(--secondary-color);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 2rem 3rem;
        display: grid;
        gap: 2rem;
        grid-template-rows: auto auto 100px;
    }

    footer .footer__content__container .footer__content{
        flex-direction: column;
        gap: 2rem;
    }

    footer .footer__content__container .footer__content--positivus .navigation__box .navigation__box__items{
        gap: 2rem;
        flex-direction: column;
        text-align: center;
    }

    footer .footer__content__container .footer__content--contact .footer__contatct__data{
        align-items: center;
    }
    
    footer .footer__content__container .footer__content--contact .footer__contact__form__container{
        max-width: 500px;
        width: 100%;
    }
    
    footer .footer__content__container .footer__content--contact .footer__contact__form__container form{
        flex-direction: column;
        max-width: none;
        width: 100%;
    }
    
    footer .footer__content__container .footer__content--contact .footer__contact__form__container form input{
        width: 100%;
    }
    
    footer .footer__content__container .footer__content--contact .footer__contact__form__container form .bases__style__button{
        width: 100%;
        max-width: none;
    }

    footer .footer__content__container .footer__content--company{
        align-items: center;
        justify-content: end;
        gap: 1rem;
    }
}

/*========================================
                ANIMATIONS
==========================================*/
